/**sobre-nosotros**/

.about-img img {
    width: 700px;
}

.about-seccion-padding {
    padding: 3%;
}

.row {
    justify-content: center;
    align-items: center;
}

.col {
    width: 600px;
    padding: 3%;
}

.img-banner {
    padding-top: 5%;
}

.Nosotros {
    padding: 8%;

    h2 {
        font-size: 50px;
        font-weight: bolder;
        color: #5e616a;
    }
}

